# coding: utf-8

<h3>Заказ из Pragmatic Order отправлен</h3>

<p>
  Это сообщение уведомляет Вас, что мы отправляли ваш недавние заказ:
</p>

<table>
  <tr><th colspan="2">Кол-во</tr></tr>
<%= render @order.line_items %>
</table>
